.avatarUser {
    width: 60%
}
.usersBlock {
   display: flex;
   flex-direction: column;
}
.usersBlockContent{
    display: flex;
    justify-content: center;
}
.userSection{
    display: flex;
    margin-bottom: 10px;
}
.description {
    width: 80%;
    height: 80px;
    border: 1px solid black;
}
.avatarBlock {
    width: 20%;
}
.description {
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.userInfo {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

