.avatar {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
}
.content__image{
    height: 140px;
    width: 100%;
    
}

.avatar__image {
    width: 100px;
    border-radius: 50%;
    margin: 10px;
}

.profile {
    display: flex;
    
}

.profile__name {
    margin: 10px 0;
}

